<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
			<h3>Welcome to Questiongular</h3>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<p>
				If you're just starting out with Angular check out these resources:
				<ul>
					<li><a href="http://docs.angularjs.org/tutorial/">AngularJS Official Tutorial</a></li>
					<li><a href="http://egghead.io/lessons">Egghead.io Video Lessons (Scroll all the way down)</a></li>
					<li><a href="https://webchat.freenode.net/">#angularjs on FreeNode IRC</a></li>
				</ul>
			</p>
		</div>
	</div>
</div>
